/*
*  1. General
*	2. Header
*	3. Section
*/
/* ==========
1. General
============= */
body {
	width: 100%;
	font-size: 17px;
}
.clear { clear: both; }
.yellow { background-color: yellow; }
.black { background-color: black !important; }
/* Dont find following lines */
.gSZAyM { min-height: 0; }
.dMFuoo { overflow: hidden; }
/* ==========
2. Header
============= */
#main-header {
	width: 100%;
	height: 60px;
}
#main-header-logo {
	width: 210px;
	padding: 0 2%;
}
/* ==========
3. Section
============= */
#main-section {
	padding: 2% 5%;
}
/* If system is idle */
#display-idle {
	max-width: 1152px;
	margin: 0 auto;
}
.section-box {
	float: left;
	width: 250px;
	height: 150px;
	padding: 15px;
	background-position: right;
	background-repeat: no-repeat;
	background-size: 100px;
}
.section-box h1 {
	font-size: 130%;
	font-weight: bold;
}
.section-box h4 {
	width: 150px;
	color: white;
	font-size: 90%;
}
.section-box:nth-child(1) {
	background-color: rgba(37,180,237,0.7);
	background-image: url("../img/front_server.svg");
}
.section-box:nth-child(2) {
	background-color: rgba(235,136,0,0.7);
	background-image: url("../img/back_server.svg");
}
.section-box:nth-child(3) {
	background-color: rgba(207,51,42,0.7);
	background-image: url("../img/count_puzzle.svg");
}
.section-box:nth-child(4) {
	background-color: rgba(35,152,68,0.7);
	background-image: url("../img/contributor.svg");
}
.margin-right-for-box {
	margin-right: 50.6px;
}
/* If system draws a table */
#display-table {
	float: left;
	width: 30%;
}
#show-date {
	font-size: 160%;
	color: #666;
}
#main-table {
	width: 420px;
	border-collapse: collapse;
	border: 3px solid black;
}
#main-table tr td {
	width: 84px;
	height: 84px;
	border: 2px solid gray;
	text-align: center;
}
#main-table tr a {
	font-size: 100%;
	padding-left: 5px;
}
#main-table tr span {
	font-size: 250%;
	color: #6495ED;
	font-weight: bold;
}
/* Clues */
#display-clues {
	float: left;
	width: 40%;
}
#across, #down {
	float: left;
	width: 50%;
}
#across h1, #down h1 {
	font-size: 110%;
	font-weight: bold;
	color: #6495ED;
}
#across p, #down p {
	margin: 0;
	padding: 2.5px 0;
	font-size: 95%;
}
/* Solution */
#display-solution {
	float: left;
	width: 30%;
	text-align: center;
}
#solution_img {
	margin-top: 20px;
	padding-left: 20px;
	width: 450px;
}